.menu {
    display: flex;
    flex-direction: column;
    top: 0;
    background-color: white;
    height: auto;
    align-items: center;
}

.menu button {
    margin: 2%;
    align-self: center;
}

@media all and (min-width: 768px) {
    .container {
        width: 100vw;
    }
}