
.timeline {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-self: center;
    /* background-color: red; */
}

@media all and (max-width: 640px) {
    .timeline {
        width: 100vw;
    }
}