.reply {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-bottom: 0px;
    margin-top: 10px;
    padding-top: 0px;
}

.text {
    padding-right: 5px;
}

.time {
    color: darkgray
}

.username {
    font-weight: 700;
}